# deps
node_modules/
.pnpm-store/

# build
.next/
out/
dist/
build/
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.local

# prisma
packages/db/prisma/*.db


# next
next-env.d.ts

# typescript build info
*.tsbuildinfo
